.main-menu {
    -fx-background-color: linear-gradient(to bottom, #8DC0FAFF, #EFB8B8FF); /* Темный синий градиент */
    -fx-alignment: center; /* Выравнивание по центру */
}

.game-title {
    -fx-font-family: "Arial Black";
    -fx-font-size: 48px;
    -fx-fill: white;
    -fx-effect: dropshadow(one-pass-box, rgba(0,0,0,0.9), 5, 0.5, 3, 3);
    -fx-translate-y: -80px;
    -fx-cache: true;
    -fx-cache-hint: quality;
}

.menu-button {
    -fx-background-color: linear-gradient(to bottom, #4CAF50, #2E7D32); /* Зеленый градиент */
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-padding: 15px 30px;
    -fx-border-radius: 5px;
    -fx-cursor: hand;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0.5, 2, 2); /* Тень */
    -fx-translate-y: 20px;/* Смещение вниз */
}

.menu-button:hover {
    -fx-background-color: linear-gradient(to bottom, #388E3C, #1B5E20); /* Темнее при наведении */
}

.menu-button:pressed {
    -fx-background-color: linear-gradient(to bottom, #1B5E20, #388E3C); /* Светлее при нажатии */
}

.my_button {
    -fx-background-radius: 6px;
    -fx-background-color: #3498db; /* Цвет фона */
    -fx-text-fill: white; /* Цвет текста */
    -fx-font-size: 14px; /* Размер шрифта */
    -fx-font-weight: bold; /* Жирный шрифт */
    -fx-padding: 10px 20px; /* Внутренние отступы */
    -fx-border-radius: 5px; /* Скругление углов */
    -fx-cursor: hand; /* Курсор при наведении */
    -fx-border-color: black; /* Убираем обводку */
    -fx-transition: background-color 0.3s; /* Плавный переход цвета фона */
}

.my_button:hover {
    -fx-background-color: #2980b9; /* Цвет фона при наведении */
}

.my_button:pressed {
    -fx-background-color: #1F618D; /* Цвет фона при нажатии */
}
.scroll-pane{
    -fx-background-color:transparent;
}
.scroll-pane .viewport {
    -fx-background-color: transparent;
}
.scroll-pane .scroll-bar:vertical, .scroll-pane .scroll-bar:horizontal {
    -fx-background-color: transparent;
}
.scroll-pane .scroll-bar:vertical .thumb {
    -fx-scale-x: 0.1;
    -fx-background-color: black;
}